#root {
  max-width: 100%;
  margin: 0 auto;
  
  text-align: center;
  background-color: #1E1E3A;
  font-family: 'Prata', serif;
  
}

 
.carousel-container {
  width: 100%;  
  margin: 0;
  padding: 0;
  position: relative;
}

.carousel {
  width: 100%;  
  padding: 0;
}


.carousel-arrow {
  color: #fff; 
  font-size: 60px;  
  cursor: pointer;
  
}

 
.carousel-indicators {
  display: none;
}

.carousel-abstract {
  display: -webkit-box;
  -webkit-line-clamp: 5;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

